html {
  background-color: #c9b5ab;
  font-size: 1.5rem;
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
  line-height: 1.5;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #8f2440;
}

a:hover {
  text-decoration: underline;
  color: #3f1622;
}

nav ol li {
  list-style-type: none;
}

.heading {
  font-size: 1.125rem;
}

main {
  font-family: "PT Serif", serif;
  font-size: 0.8rem;
}
